<div class="row justify-content-md-center">
    <div class="col-md-8">
        <form [formGroup]="createBlogFormGroup" (ngSubmit)="createPost(createBlogFormGroup.value)">
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="name" formControlName="author"> 
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" formControlName="title"> 
            </div>
            <div class="form-group">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" name="topic" formControlName="topic"> 
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control"  name="content" formControlName="content"> </textarea>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" name="tags" formControlName="tags"> 
            </div>
            <button class="btn btn-secondary" type="submit" [disabled]="createBlogFormGroup.invalid">Post</button>
        </form>
    </div>
</div>
