<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container">
    <a class="navbar-brand" href="#">Blog Application</a>
    <div class="ml-auto">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="auth/signUp" routerLinkActive="active">SignUp</a>
               
            <a class="nav-item nav-link" routerLink="auth/signIn" routerLinkActive="active">SignIn</a>
                
            <a class="nav-item nav-link active" *ngIf="(loggedIn$ | async)">About </a>

            <a class="nav-item nav-link active" (click)="logout()" *ngIf="(loggedIn$ | async) as val">Logout</a>
        </div>
        </div>
    </div>
    </div>
</nav>

 